/* Alapértelmezett testreszabások */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 15px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
}

.container {
    width: 50%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Űrlapok és beviteli mezők */
form {
    width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='username'],
input[type='password'],
button {
    width: calc(100% - 22px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='tel']:focus,
input[type='username']:focus,
input[type='password']:focus,
button:focus {
    outline: none;
    border-color: #5a9bd5;
    box-shadow: 0 0 5px rgba(90, 155, 213, 0.5);
}

/* Gomb stílus */
button {
    background-color: #a93568;
    color: #fff;
    cursor: pointer;
    width: 110px;
}

button:hover {
    background-color: #357ebd;
}

/* Táblázat stílus */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Linkek stílus */
a {
    color: #6d0b23;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #e0dcdd;
    color: #4e0202;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    color: #4e0202;
    text-decoration: none;
    margin-right: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user-info a {
    color: blue;
    padding: 5px 5px;
    text-decoration: none;
}

.user-info a:hover {
    color: red;
}

.username {
    margin-left: 10px;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

.contact-info {
    margin-top: 20px;
    padding: 20px;
    background-color: #4e0202;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-info p {
    color: #fff;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
}

.about-info {
    margin-top: 20px;
    align-items: center;
    width: 600px;
    padding: 20px;
    background-color: #bca0a0;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
}

.about-info p {
    color: #fff;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
}

footer {
    background-color: #4e0202;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: auto;
    left: 0;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #4e0202;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

#searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
}

#searchButton {
    background-color: #a93568;
    color: #fff;
    cursor: pointer;
    width: 110px;
}

.menu img {
    width: 70px;
    height: auto;
}
